@import "../../styles/utilities/variables";

.form-page {

  &__container {
    min-height: calc(100vh - 162px);
    align-items: center;
    justify-content: center;
    margin: 0px auto;
  }

  &__formulary {
    padding: 30px 10px;
  }

  &__button {
    margin-top: 50px;
    cursor: pointer;
  }
}
