@import "../../../../styles/utilities/variables";

.selection-boxes {
  &__option {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    cursor: pointer;
    border-radius: 30px;
    font-weight: 400;
    width: 40%;
    margin: 10px 10px;
    min-height: 130px;
    max-height: 150px;
    padding: 10px 10px;
  }

  &__text {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    user-select: none;
    margin: 0px auto;
  }
}
