@import "../../styles/utilities/variables";
.footer {
  &__line {
    padding: 30px 10px;
    text-align: center;
    background-color: $background-generic;
  }
  &__text {
    font-size: 10px;
    color: $font-color-dark;
    font-weight: 600;
    margin: 0;
  }
}
