@import "../../../styles/utilities/variables";

.selection-boxes {
  &__container {
    max-width: 700px;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
    justify-content: space-around;
  }
}
