@import "../../styles/utilities/variables";
@import "../../styles/utilities/mixins";

.home-page {
  min-height: 100vh;
  min-width: 100vw;

  &__container {
    min-height: calc(100vh - 162px);
    padding-bottom: 30px;
  }

  &__content {
    color: $font-color-brand;
    font-weight: bold;
  }

  &__photo {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
  }

  &__slogan {
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    padding: 20px 20px;
  }

  &__description {
    color: $font-color-light;
    background-color: $background-brand;
    padding: 15px;
  }

  &__parragraph {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 22px;
    font-weight: normal;
    text-align: center;
  }

  &__button {
    margin-top: 35px;
  }

  
}
