@import "../../styles/utilities/variables";
@import "../../styles/utilities/mixins";

.home-page {
  min-height: 100vh;
  min-width: 100vw;
  &__imgbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
  }
  &__img {
    width: 100vw;
    @include adaptTo("desktop") {
      width: 500px;
      align-items: center;
      justify-content: center;
    }
  }

  &__head {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5px;
    @include adaptTo("desktop") {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 20px;
    }
  }

  &__title {
    color: $font-color-light;
    background-color: $background-brand;
    font-weight: bold;
    text-align: left;
    font-size: 30px;
    padding: 30px;
    margin-top: -5px;
    @include adaptTo("desktop") {
      text-align: left;
      font-weight: 800;
      font-size: 42px;
      text-decoration: underline;
      width: 300px;
      padding: 10px;
      margin-left: 10;
      color: $font-color-brand;
      background-color: $background-generic;
    }
  }

  &__text {
    color: $font-color-dark;
    font-weight: 400;
    text-align: center;
    font-size: 15px;
    padding: 20px;

    @include adaptTo("desktop") {
      text-align: center;
      font-size: 20px;
    }
  }

  &__button {
    margin: 30px;
  }

  &__container {
    min-height: calc(100vh - 162px);
  }

  &__logo {
    margin: 0 auto;
    align-items: center;
    padding: 20px;
    justify-content: center;
    width: 100px;
  }
}
