@import "../utilities/variables";

.pdf-page {
  &__background {
    background-color: #f6f6fa;
    opacity: 0.9;
    background-image: radial-gradient(#89cbf7 0.7px, transparent 0.7px), radial-gradient(#444cf7 0.7px, #e5e5f7 0.7px);
    background-size: 20px 20px;
    height: 29.7cm;
  }
  &__container {
    border-color: #4294e3;
    border-width: 10px;
    border-style: solid;
    border-radius: 20px;
    margin: 20px;
    background-color: white;
  }
  &__logo {
    margin: 30px 1px 10px 1px;
    width: 250px;
  }

  &__imgbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
  }
  &__title {
    color: $font-color-dark;
    text-align: center;
    font-size: 50px;
    font-weight: 400;
    margin-top: 20px;
  }

  &__subtitle {
    color: $font-color-scores;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    margin-top: 0px;
  }

  &__badge {
    width: 100px;
  }
  &__signature {
    width: 120px;
  }

  &__categories {
    width: 100%;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
