@import "../utilities/variables";
@import "../utilities/mixins";

.results-page {
  // min-height: calc(100vh - 130px);
  // max-height: calc(100vh - 130px);

  &__container {
    min-height: calc(100vh - 162px);
    align-items: center;
    justify-content: center;
  }

  &__progress-circle {
    margin: 10px 0 10px 0;
  }

  &__horizontal-divider {
    margin: 10px 0 10px 0;
  }

  &__button {
    margin-top: 20px;
  }
}
