@import "../../styles/utilities/variables";

.home-page {
  min-height: 100vh;


  &__header {
    height: 100px;
  }

  &__container {
    min-height: calc(100vh - 200px);
  }

  &__footer {
    height: 100px;
  }

  &__title {
    color: $background-buttons;
    font-weight: 800;
    text-align: left;
    margin-left: 30px;
    font-size: 50px;
  }

  
}
