@import "../../styles/utilities/variables";

.home-page {
  min-height: calc(100vh - 130px);
  max-height: calc(100vh - 130px);

  &__containers {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    margin: 0px auto;
    max-width: 1300px;
    position: relative;
    top: -250px;
  }

  &__spacer {
    height: 10px;
  }

  &__image {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-bottom: 10px solid black;
  }

  &__box {
    display: flex;
    padding: 25px;
    border-radius: 10px;
    background-color: $background-brand;
    width: 475px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px auto 50px;
    box-shadow: 1px 5px 10px $font-color-dark;

    &-title {
      background-color: $font-color-dark;
      font-size: 17px;
      color: $font-color-light;
      text-align: center;
      border-radius: 10px;
      width: 100%;
      padding: 10px;
      margin: 0px;
    }

    &-subtitle {
      background-color: $font-color-light;
      font-size: 14px;
      font-weight: 300;
      color: $font-color-dark;
      text-align: center;
      border-radius: 10px;
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      margin: 0px auto 5px;
    }

    &-btn {
      margin: 5px;
      font-size: 21px;
    }
  }
  & table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    border-spacing: 5px 5px;
  }

  & tbody td:first-child {
    border-radius: 5px;
  }

  & tbody td:last-child {
    border-radius: 0 5px 5px 0;
  }

  & thead th:first-child {
    border-radius: 5px 0 0 5px;
  }

  & thead th:last-child {
    border-radius: 0 5px 5px 0;
  }

  & th {
    padding: 10px 0px 10px 0px;
    text-align: center;
    background-color: $background-generic;
    font-size: 14px;
    font-weight: normal;
    margin: 0px;
    align-items: center;
  }

  & thead tr:first-child {
    border-radius: 5px 0 0 5px;
  }

  & thead tr:last-child {
    border-radius: 0 5px 5px 0;
  }

  &__table {
    border-collapse: collapse;
    width: 100%;

    td {
      padding: 3px;
    }

    & tbody td:first-child {
      border-radius: 5px 0 0 5px;
    }

    & tbody td:last-child {
      border-radius: 0 5px 5px 0;
    }

    &-number {
      background-color: $font-color-dark;
      font-size: 14px;
      font-weight: 600;
      color: $font-color-light;
      text-align: center;
      border-radius: 10px;
      padding: 10px;
    }

    &-row {
      background-color: $font-color-light;
      font-size: 14px;
      font-weight: 300;
      color: $font-color-dark;
      text-align: center;
      border-radius: 10px;
      margin: 5px auto;
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }
}
