@import "../../styles/utilities/variables";

.home-page {
  min-height: 100vh;
  min-width: 100vw;

  &__title {
    color: $font-color-light;
    background-color: $background-brand;
    font-weight: bold;
    text-align: left;
    font-size: 42px;
    padding: 40px;
  }

  &__button {
    margin-top: 50px;
  }

  &__container {
    min-height: calc(100vh - 162px);
  }
}
