@import "../../styles/utilities/variables";

.home-page {
  min-height: calc(100vh - 130px);
  max-height: calc(100vh - 130px);

  &__title {
    color: $background-buttons;
    font-weight: 800;
    text-align: left;
    margin-left: 30px;
    font-size: 70px;
  }
}
