body,
html,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  border: none;
  box-shadow: none;
  cursor: pointer;
  background: none;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

p {
  margin: 0px;
  padding: 0px;
}
