@import "../../styles/utilities/variables";

body,
html,
#root {
  margin: 0 auto;
  margin-top: 15px;
  padding: 0;
  width: 98%;
  height: 100%;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

p {
  margin: 0px;
  padding: 0px;
}

// Shortcuts

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.light {
  color: $font-color-light;
  background-color: $font-color-light;
}
